{% extends "layout.html.twig" %}

{% block content %}
    
        <div class="page-header">          
            <h2>{{categoryname}}: {% trans %}Encuestas{% endtrans %}</h2>
        </div>  
        
        <div class="page-content">
           
           <div class="icon-new"> 
                <a href="{{ path('survey_create', {'categoryid': categoryid})}}"> 
                    {% image '@AppBundle/Resources/public/images/add.png' %}
                          <img class="icon" alt="Añadir encuesta" src="{{ asset_url }}"/>
                      {% endimage %}
                </a>
           </div>
          
          <table class="table table-striped" id="datetable">
              <thead>
                <tr>
                  <th scope="col">{%trans%}Nombre{%endtrans%}</th>
                  <th scope="col">{%trans%}Descripcion{%endtrans%}</th>
                  <th scope="col">{%trans%}Activo{%endtrans%}</th>
                  <th scope="col">{%trans%}Fecha Creación{%endtrans%}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for survey in surveys %}
                <tr>

                    <td scope="row">{{survey.name}}</td>
                    <td scope="row"> {{survey.description}} </td>
                    <td scope="row"> {{survey.isActive}} </td>
                    <td scope="row"> {{survey.creationDate|date('d/m/y')}} </td>
                    <td>
                        <a href="{{ path('survey_edit', {'surveyid': survey.id})}}">
                              {% image '@AppBundle/Resources/public/images/edit.png' %}
                                <img class="icon" alt="Editar encuesta" src="{{ asset_url }}"/>
                             {% endimage %}
                        </a> 
                        <a href="{{ path('survey_delete', {'surveyid': survey.id})}}" onclick="return confirm('¿Esta seguro?')">
                             {% image '@AppBundle/Resources/public/images/delete.png' %}
                                <img class="icon" alt="Borrar encuestas" src="{{ asset_url }}"/>
                            {% endimage %}
                        </a> 
                        <a href="{{ path('question_list', {'surveyid': survey.id})}}">
                             {% image '@AppBundle/Resources/public/images/goto.png' %}
                                <img class="icon" alt="Ir a preguntas" src="{{ asset_url }}"/>
                            {% endimage %}
                       </a> 
                     </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
          <a href="{{ path('category_list')}}" class="btn btn-xs btn-primary"><span class="fa fa-pencil"></span>{% trans %}Volver a categorías{% endtrans %}</a> 

        </div>
{% endblock %}