{% extends "layout.html.twig" %}

{% block content %}
    
        <div class="page-header">          
            <h1>{% trans %}Gestionar encuestas{% endtrans %}</h1>
        </div>  
        
        <div class="page-content">
          <a href="{{ path('survey_create')}}"> Nuevo </a>
          <table class="table table-striped" id="datetable">
              <thead>
                <tr>
                  <th scope="col">{%trans%}Nombre{%endtrans%}</th>
                  <th scope="col">{%trans%}Descripcion{%endtrans%}</th>
                  <th scope="col">{%trans%}Activo{%endtrans%}</th>
                  <th scope="col">{%trans%}Fecha Creación{%endtrans%}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for survey in surveys %}
                <tr>

                    <td scope="row" class="col-xs-12"> {{survey.name}} </td>
                    <td scope="row"> {{survey.description}} </td>
                    <td scope="row"> {{survey.isActive}} </td>
                    <td scope="row"> {{survey.creationDate|date('d/m/y')}} </td>
                    <td>
                        <a href="{{ path('survey_edit', {'id': survey.id})}}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span>{% trans %}Editar{% endtrans %}</a>
                        <a href="{{ path('survey_delete', {'id': survey.id})}}" class="btn btn-xs btn-danger" onclick="return confirm('¿Esta seguro?')"><span class="fa fa-pencil"></span>{% trans %}Borrar{% endtrans %}</a> 
                        
                     </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
{% endblock %}