{% extends "layout.html.twig" %}

{% block content %}
    
        <div class="page-header">          
            <h1>{% trans %}Gestionar proyectos{% endtrans %}</h1>
        </div>  
        
        <div class="page-content">
          <a href="{{ path('create')}}"> Nuevo </a>
          <table class="table" id="datetable">
              <thead>
                <tr>
                  <th scope="col">{%trans%}Nombre{%endtrans%}</th>
                  <th scope="col">{%trans%}Descripcion{%endtrans%}</th>
                  <th scope="col">{%trans%}Activo{%endtrans%}</th>
                  <th scope="col">{%trans%}Fecha Creación{%endtrans%}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for survey in surveys %}
                <tr>
                    
                    <td scope="row"> {{survey.name}} </td>
                    <td scope="row"> {{survey.description}} </td>
                    <td scope="row"> {{survey.isActive}} </td>
                    <td scope="row"> {{survey.creationDate|date('d/m/y')}} </td>
                    <td>
                        <a href="{{ path('edit', {'id': survey.id})}}"> Editar </a> |
                        <a href="{{ path('delete', {'id': survey.id})}}" onclick="return confirm('¿Esta seguro?')"> Borrar </a> 
                        
                     </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
{% endblock %}