{% extends "layout.html.twig" %}

{% block content %}
    
        <div class="page-header">          
            <h2>{{surveyname}}: {% trans %}Preguntas{% endtrans %}</h2>
        </div>  
         <div class="page-content">
          
          <table id="datetable">
              <thead>
              <tr>
                  <th>{% trans %}Nombre{% endtrans %}</th>
                  <th>{% trans %}Tipo{% endtrans %}</th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
              {% for question in questions %}
              <tr>
                  <td>{{question.name}}</td>
                  <td>{{options[question.typeId]}}</td>
                  <td>
                    <a href="{{ path('question_edit', {'questionid': question.id})}}"> {% trans %}Modificar{% endtrans %} </a> |
                    <a href="{{ path('question_delete', {'questionid': question.id})}}" onclick="return confirm('¿Esta seguro?')"> {% trans %}Borrar{% endtrans %} </a> |
                    {% if question.typeId > 1 %}
                        <a href="{{ path('question_edit_option', {'questionid': question.id})}}"> {% trans %}Modificar opciones{% endtrans %} </a>
                    {% endif %}
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          <a href="{{ path('question_create', {'surveyid': surveyid})}}"> {% trans %}Añadir pregunta{% endtrans %} </a>
      </div>
       
{% endblock %}