{% extends "layout.html.twig" %}

{% block content %}
    
        <div class="page-header">          
            <h2>{% trans %}Categorias{% endtrans %}</h2>
        </div>  
        
        <div class="page-content">
          <a href="{{ path('category_create')}}"> Nuevo </a>
          <table class="table table-striped" id="datetable">
              <thead>
                <tr>
                  <th scope="col">{%trans%}Nombre{%endtrans%}</th>
                  <th scope="col">{%trans%}Descripcion{%endtrans%}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>

                    <td scope="row" class="col-xs-12"> {{category.name}} </td>
                    <td scope="row"> {{category.description}} </td>
                    <td>
                       <a href="{{ path('category_edit', {'categoryid': category.id})}}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span>{% trans %}Editar{% endtrans %}</a>
                       <a href="{{ path('category_delete', {'categoryid': category.id})}}" class="btn btn-xs btn-danger" onclick="return confirm('¿Esta seguro?')"><span class="fa fa-pencil"></span>{% trans %}Borrar{% endtrans %}</a> 
                       <a href="{{ path('survey_list', {'categoryid': category.id})}}" class="btn btn-xs btn-warning"><span class="fa fa-pencil"></span>{% trans %}Ir a encuestas{% endtrans %}</a> 
                     </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
{% endblock %}