{# app/Resources/views/registration/register.html.twig #}
{% extends "layout.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit">Registrarse!</button>
    {{ form_end(form) }}
{% endblock %}